<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    
    <!-- Configure the IIS handlers -->
    <handlers>
      <!-- Indicate the path to the Node.js application file -->
      <add name="iisnode" path="mongodbconnect.js" verb="*" modules="iisnode"/>
    </handlers>
    
    <!-- URL rewrite rules -->
    <rewrite>
      <rules>
        <!-- Do not interfere with requests for logs -->
        <rule name="LogFile" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="iisnode"/>
          <action type="None"/>
        </rule>
        
        <!-- Do not interfere with requests for node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^/node_modules/node-inspector/"/>
          <action type="None"/>
        </rule>
        
        <!-- Redirect all other traffic to the Node.js application file -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
          <action type="Rewrite" url="mongodbconnect.js"/>
        </rule>
      </rules>
    </rewrite>
    
    <!-- IISNode configuration -->
    <iisnode 
      watchedFiles="web.config;*.js"
      loggingEnabled="true"
      logDirectory="iisnode"
      nodeProcessCountPerApplication="1"
      maxConcurrentRequestsPerProcess="1024"
      maxNamedPipeConnectionRetry="3"
      namedPipeConnectionRetryDelay="2000"
      maxNamedPipeConnectionPoolSize="512"
      maxNamedPipePooledConnectionAge="300000"
      asyncCompletionThreadCount="0"
      initialRequestBufferSize="4096"
      maxRequestBufferSize="65536"
      uncFileChangesPollingInterval="5000"
      gracefulShutdownTimeout="60000"
      loggingDirectorySizeLimit="128mb"
      maxLogFileSize="1mb"
      devErrorsEnabled="true"
      flushResponse="false"
      enableXFF="false"
    />
    
    <!-- Static content configuration, remove static file handler for .js -->
    <staticContent>
      <remove fileExtension=".js"/>
      <mimeMap fileExtension=".js" mimeType="application/javascript"/>
      <!-- Add other mime types here as needed -->
    </staticContent>
    
    <!-- Disable the IIS static file handler for the following file extensions -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules"/>
        </hiddenSegments>
        <fileExtensions>
          <add fileExtension=".json" allowed="true"/>
          <add fileExtension=".config" allowed="true"/>
        </fileExtensions>
      </requestFiltering>
    </security>
    
  </system.webServer>
</configuration>