<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- This section tells IIS to handle all requests through the iisnode module for your mongodbconnect.js file -->
      <add name="iisnode" path="mongodbconnect.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <!-- Don't interfere with requests for logs -->
        <rule name="LogFile" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^/iisnode/" />
          <action type="None" />
        </rule>
        <!-- Don't interfere with requests for node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^/node_modules/node-inspector/" />
          <action type="None" />
        </rule>
        <!-- All other URLs are mapped to the Node.js application entry point -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="mongodbconnect.js"/>
        </rule>
      </rules>
    </rewrite>
    <!-- iisnode configuration settings -->
    <iisnode watchedFiles="web.config;*.js" />
    <!-- Disable the IIS static file handler to let iisnode handle requests -->
    <staticContent>
      <remove fileExtension=".js"/>
      <remove fileExtension=".json"/>
      <remove fileExtension=".svg"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
      <mimeMap fileExtension=".js" mimeType="application/javascript"/>
    </staticContent>
  </system.webServer>
</configuration>